<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Campos Dealer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="@Url.Action("Index", "Venda")">Campos Dealer</a>
        <div class="navbar-nav">
            <a class="nav-link" href="@Url.Action("Index", "Venda")">Vendas</a>
            <a class="nav-link" href="@Url.Action("Index", "Cliente")">Clientes</a>
            <a class="nav-link" href="@Url.Action("Index", "Produto")">Produtos</a>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
